.notification {
  padding: 16px 24px;
  position: fixed;
  top: 24px;
  right: 24px;
  width: 320px;
  background-color: white;
  line-height: 1.4;
  border-radius: 12px;
  z-index: 2;

  &--error {
    color: darkred;
    border: 1px solid red;
  }

  &--success {
    color: darkgreen;
    border: 1px solid green;
  }
}
