* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.wrapper {
  margin: 0 auto;
  padding: 0 32px;
  width: 1024px;
  max-width: 100%;
  min-width: 640px;
  box-sizing: border-box;
}
